@use "../util" as u;

.overview {
  &__container {
  }

  &__text {
    @include u.breakpoint-up(large) {
      padding-top: 50px;
    }

    h2 {
      color: var(--lighttheme-text);
      font-size: 26px;
    }
  }

  &__cards {
    @include u.breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    @include u.breakpoint-down(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 20px;
    }

    @include u.breakpoint-down(small) {
      display: block;
    }
  }

  &__card {
    margin: 1.875rem 0;
    padding: 30px 25px 20px;
    max-width: 100%;
    background-color: var(--light-card-background);
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: var(--light-card-backgroundhover);
      cursor: pointer;
      transform: scale(1.05);
      transition: all 400ms ease-in-out;
    }

    &--top {
      display: flex;
      justify-content: space-between;

      p {
        color: var(--lighttheme-text);
        font-size: 14px;
        font-weight: 700;
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      align-items: baseline;

      &-img {
        display: flex;
        align-items: center;
        gap: 3px;

        p {
          color: var(--limegreen);
          font-weight: 700;
        }
      }

      h3 {
        font-size: 35px;
      }
    }
  }
}

.red-down {
  p {
    color: var(--brightred);
  }
}
