@use "../util" as u;

.overview {
  &__container {
  }

  &__text {
    h2 {
      color: var(--lighttheme-text);
      font-size: 26px;
    }
  }

  &__cards {
  }

  &__card {
    margin: 1.875rem 0;
    padding: 30px 25px 20px;
    max-width: 100%;
    background-color: var(--light-card-background);
    border-radius: 0.3125rem;

    &:hover {
      background-color: var(--light-card-backgroundhover);
      cursor: pointer;
      transform: scale(1.05);
      transition: all 400ms ease-in-out;
    }

    &--top {
      display: flex;
      justify-content: space-between;

      p {
        color: var(--lighttheme-text);
        font-size: 14px;
        font-weight: 700;
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      align-items: baseline;

      &-img {
        display: flex;
        align-items: center;
        gap: 3px;

        p {
          color: var(--limegreen);
          font-weight: 700;
        }
      }

      h3 {
        font-size: 35px;
      }
    }
  }
}

.red-down {
  p {
    color: var(--brightred);
  }
}
